<a href="#" class="fixed_link left-tooltip" id="collapse_toggle" title="Toggle Right Panel">Collapse/Expand</a>
<a href="<%= export_text_block_path(@text_block) %>" class="fixed_link left-tooltip" id="fixed_print" title="Print <%= @text_block.name %>">Print</a>

<aside id="singleitem_barcode" class="right_panel">
<%= render :partial => "shared/barcode", :locals => { :object => @text_block } %>
</aside>

<aside id="singleitem_toolbar">
  <% if current_user -%>
  <%= link_to raw('<span class="icon icon-collage"></span>'), new_collage_path(:annotatable_type => 'TextBlock', :annotatable_id => @text_block), :class => 'collage-this new-action' %>
  <%= link_to raw('<span class="icon icon-add"></span>'), '#', "data-item_id" => @text_block.id, "data-type" => "text_block", :class => 'link-add tooltip requires_logged_in', :title => "Add to a Playlist" %>
  <%= link_to raw('<span class="icon icon-bookmark"></span>'), '#', :class => "bookmark-action tooltip requires_logged_in", :title => "Bookmark #{@text_block.name}", "data-type" => "text_block", "data-itemid" => @text_block.id %>
  <% end -%>
</aside>

<div id="text_block" class="singleitem" data-itemid="<%= @text_block.id %>">
  <div id="main_details">
    <h1><%= @text_block.display_name %></h1>
  </div>
  <div id="description">
    <%= link_to raw('<span class="icon icon-edit"></span>EDIT TEXT BLOCK INFORMATION<span class="icon icon-arrow"></span>'), edit_text_block_path(@text_block), :class => "edit-action" %>
  </div>
  <article>
    <%= raw @text_block.content %>
  </article>
</div>

<div id="stats" class="right_panel">
  <a href="#" class="right_panel_close"></a>
  <h3>Author Stats</h3>
  <%= render :partial => "shared/author_stats", :locals => { :user => @text_block.owners.first } %>
  <h3>Text Block Stats</h3>
  <div class="stats_panel">
    <%= render :partial => "meta" %>
  </div>
</div>

<div class="cl"></div>

<%= render :partial => "shared/popup", :locals => { :type => "text_block" } %>
