<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'cases-logo',
	:url => cases_path,
	:right_search => 'cases/nav_search' } %>
	
<div id="case" class="singleitem" data-itemid="<%= @case.id %>">
	<hgroup class="description">
		<h2><%= @case.display_name %>
		  <% if @case.copy? %><br/> (Currently viewing Version <%= @case.version %> edited on <%= @case.updated_at.to_s(:simpledatetime)%>)<br/>
		  <a href="<%= case_path(@case) %>">Go back to the most recent version of this case</a>
		    <% end %>
		  </h2>
		<aside class="toolbar">
      <% unless @case.copy? %>
			<ul>
				<% if false -%><li><a href="#" class="link-share">Share</a></li><% end -%>
				<% if current_user -%>
					<li><%= link_to "Collage This", new_collage_path(:annotatable_type => 'Case', :annotatable_id => @case), :class => 'collage-this new-action' %></li>
					<li><%= link_to "Bookmark This Case", '#', :class => 'link-bookmark bookmark-action' %></li>
				<% end -%>
				<li id="print-container">
					<a href="<%= export_case_path(@case) %>" class="link-print" target="_blank">
					<span>Print</span>
					</a>
				</li>
			</ul>
			<% end %>
		</aside>
		<div class="cl"></div>
	</hgroup>
	<div class="details">
		<% cache "case-#{@case.id}-tags" do -%>
		<div class="tags">
		  <% unless @case.copy? %>
          <% @case.tags.each do |tag| -%>
            <%= link_to tag.name, case_tag_path(CGI.escape(tag.name)) %>
          <% end -%>
      <% end %>
		</div>
		<% end -%>
		<div class="cl"></div>
		<% cache "case-#{@case.id}-detail" do -%>
				<p>Decision date: <%= @case.decision_date %></p>
				<% unless @case.author.blank? %>
				<p>Author: <%= @case.author %></p>
				<% end -%>
				<% unless @case.case_citations.blank? %>
				<p>Citations: <%= @case.case_citations.collect{|cc| cc.display_name}.join(', ') %></p> 
				<% end %>
				<% unless @case.case_docket_numbers.blank? %>
			 	<p>Docket Numbers: <%= @case.case_docket_numbers.collect{|cc| cc.display_name}.join(', ') %></p> 
				<% end %>
				<% unless @case.case_jurisdiction.blank? %>
				<p>Jurisdiction: <%= @case.case_jurisdiction.display_name %></p> 
				<% end %>
		<% end -%>
		<% if !@case.copy? && current_user &&	(@is_case_admin || @my_cases.include?(@case)) %>
		<%= link_to "EDIT", edit_case_path(@case) %>
		<% end -%>
		<span id="results">
		<p><a href="#" class="case_collages" data-id="<%= @case.id %>"><%= pluralize @case.collages.size, 'Collage' %> &raquo;</a></p>
		<div id="collages<%= @case.id %>" class="collages">
    			<ul id="collages<%= @case.id %>">
    				<% @case.top_ancestors.each do |collage| -%>
    				<%= render :partial => 'cases/ancestry', :locals => { :collage => collage } -%>
    				<% end -%>
    			</ul>
    			<a href="#" class="hide_collages" data-id="<%= @case.id %>">HIDE &raquo;</a>
    		</div>
  
		  </span>
		 <%= render :partial => 'shared/objects/version', :locals => {:obj => @case}%>
	  </div>
	<article>
			<%= raw @case.content %>
	</article>
</div>
