<a href="#" class="fixed_link left-tooltip" id="collapse_toggle" title="Toggle Right Panel">Collapse/Expand</a>
<a href="<%= export_case_path(@case) %>" class="fixed_link left-tooltip" id="fixed_print" title="Print <%= @case.name %>">Print</a>

<aside id="singleitem_barcode" class="right_panel">
<%= render :partial => "shared/barcode", :locals => { :object => @case } %>
</aside>

<aside id="singleitem_toolbar">
  <% if current_user -%>
  <%= link_to raw('<span class="icon icon-collage"></span>'), new_collage_path(:annotatable_type => 'Case', :annotatable_id => @case), :class => 'collage-this new-action' %>
  <%= link_to raw('<span class="icon icon-add"></span>'), '#', "data-item_id" => @case.id, "data-type" => "case", :class => 'link-add tooltip requires_logged_in', :title => "Add to a Playlist" %>
  <%= link_to raw('<span class="icon icon-bookmark"></span>'), '#', :class => "bookmark-action tooltip requires_logged_in", :title => "Bookmark #{@case.name}", "data-type" => "case", "data-itemid" => @case.id %>
  <% end -%>
</aside>

<div id="case" class="singleitem" data-itemid="<%= @case.id %>">
  <div id="main_details">
    <h1><%= @case.display_name %></h1>
  </div>
  <div id="description">
    <%= link_to raw('<span class="icon icon-edit"></span>EDIT CASE INFORMATION<span class="icon icon-arrow"></span>'), edit_case_path(@case), :class => "edit-action" %>
  </div>
  <article>
    <%= raw @case.content %>
  </article>
</div>

<div id="stats" class="right_panel">
  <a href="#" class="right_panel_close"></a>
  <h3>Author Stats</h3>
  <%= render :partial => "shared/author_stats", :locals => { :user => @case.owners.first } %>
  <h3>Case Stats</h3>
  <div class="stats_panel">
  <%= render :partial => "meta" %>
  </div>
</div>

<div class="cl"></div>

<%= render :partial => "shared/popup", :locals => { :type => "case" } %>
