<% if flash[:notice] %>
<p id="case_edit_notification"><%= flash[:notice] %></p>
<% end %>

<% if false -%>
<a href="#" class="fixed_link" id="activities_toggle"><span class="icon icon-activities"></span></a>
<% end -%>
<a href="#" class="fixed_link" id="bookshelf_toggle"><span class="icon icon-bookshelf"></span></a>
<a href="#" class="fixed_link" id="profile_toggle"><span class="icon icon-profile"></span></a>
<a href="#" class="fixed_link" id="settings_toggle"><span class="icon icon-settings"></span></a>

<div id="dashboard">
  <% if false -%>
  <div id="activities_panel" class="panel">
    <div class="header">
      <h3>My Activities</h3>
      <span class="icon icon-activities"></span>
    </div>
  </div>
  <% end -%>
  <div id="bookshelf_panel" class="panel">
    <div class="header">
      <h3>My Bookshelf</h3>
      <span class="icon icon-bookshelf"></span>
    </div>
    <ul id="user_bookshelf_items" class="user_list">
      <% @bookshelf.results.each do |hit| -%>
      <li>
        <a href="#" class="tooltip icon icon-<%= hit.class.to_s.downcase %>" title="<%= hit.class %>"></a>
        <%= link_to hit.display_name, self.send("#{hit.class.to_s.tableize.singularize}_path", hit.id), :class => "item" %></a>
        <%= render :partial => "shared/barcode", :locals => { :object => hit } %>
        Panel: Add to.., print, edit, remix, view, trash
      </li>
      <% end -%>
    </ul>
  </div>
  <div id="profile_panel" class="panel">
    <div class="header">
      <h3>Profile</h3>
      <span class="icon icon-profile"></span>
    </div>
    <%= render :partial => "shared/author_stats", :locals => { :user => @user } %>
  </div>
  <div id="settings_panel" class="panel">
    <div class="header">
      <h3>Settings</h3>
      <span class="icon icon-settings"></span>
    </div>
    <div class="stats_panel">
      <p>
        <label>Default font size:</label>
        <span><%= @user.default_font_size %></span>
      </p>
      <p>
        <label>Default font:</label>
        <span><%#= @user.di %></span>
      </p>
      <p>
        <label>Timezone:</label>
        <span><%= @user.tz_name %></span>
      </p>
      <p>
        <label>Username:</label>
        <span><%= @user.login %></span>
      </p>
      <p>
        <label>Email Address:</label>
        <span><%= @user.email_address %></span>
      </p>
      <p>
        <label>Password</label>
        <span>********</span>
      </p>
    </div>

  </div>
  <div class="clear"></div>
</div>

<% if false -%>
<section id="results">
	<hgroup id="default_hgroup">
		<ul class="tabs">
      <% @types.each do |type| -%>
      <li><a href="#" data-region="all_<%= type.to_s %>"><%= type.to_s.humanize.upcase %></a></li>
      <% end -%>
	    <% if @user.bookmarks.any? -%>
			<li><a href="#" data-region="bookmarks" id="bookmark_tab">BOOKMARKS</a></li>
			<% end -%>
      <% if current_user == @user -%>
			<li><a href="#" data-region="user_collections">COLLECTIONS</a></li>
			<li><a href="#" data-region="user_info">USER INFO</a></li>
      <% end -%>
		</ul>
		<aside class="sort">
      <% @types.each do |type| -%>
			<div id="all_<%= type.to_s %>_sort" style="display:none;" data-type="<%= type.to_s %>">
				<%= render :partial => 'shared/sort', :locals => { :list => @sort_lists[type] } %>
			</div>
      <% end -%>
		</aside>
		<div class="cl"></div>
	</hgroup>
	<article class="songs">
  <% @types.each do |type| -%>
	<ul id="all_<%= type.to_s %>">
    <%= render :partial => "shared/objects/#{type == :cases ? 'case_obj' : type.to_s.singularize}", :collection => @results[type] %>
	</ul>
	<% end -%>
	<% if @user.bookmarks.any? -%>
	<ul id="bookmarks" class="playlists">
		<% @user.bookmarks.each_with_index do |item, index| -%>
		<%= render :partial => 'shared/objects/playlist_item',
		  :locals => { :item => item,
      :resource_item => item.resource_item,
      :actual_object => (item.resource_item_type == "ItemDefault" ? nil : item.resource_item.actual_object),
	    :parent_index => '',
			:index => index,
			:recursive_level => 0,
      :last => (item == @user.bookmarks.last) } %>
		<% end -%>
	</ul>
	<% end -%>
  <% if current_user == @user -%>
  <ul id="user_collections">
    <li class="listitem">
      <div class="controls">
        <ul>
          <li class="link-add">
            <a href="<%= new_user_collection_path %>" class="new-action">Add</a>
          </li>
        </ul>
      </div>
      <div class="details">
        <h4><a href="<%= new_user_collection_path %>" class="new-action">Create a New User Collection</a></h4>
      </div>
      <div class="cl"></div>
    </li>
    <%= render :partial => "shared/objects/user_collection", :collection => @current_user.collections %>
  </ul>
	<ul id="user_info">
      <li><b>Login:</b> <%= @user.login %></li>
      <li><b>Attribution:</b> <%= @user.attribution %></li>
      <li><b>Login count:</b> <%= @user.login_count %></li>
      <li><b>Last request at:</b> <%= @user.last_request_at %></li>
      <li><b>Last login at:</b> <%= @user.last_login_at %></li>
      <li><b>Current login at:</b> <%= @user.current_login_at %></li>
      <li><b>Last login ip:</b> <%= @user.last_login_ip %></li>
      <li><b>Current login ip:</b> <%= @user.current_login_ip %></li>
      <li><%= link_to 'Edit', edit_user_path(@user) %></li>
	</ul>
	<% end -%>
	</article>
</section>

<section class="breadcrumbs">
  <%#= render :partial => 'shared/user_pagination' %>
</section>
<% end -%>
