<header>
  <nav>
  	<% if ["collages#show", "playlists#show"].include?("#{params[:controller]}##{params[:action]}") -%>
  	<ul class="right requires_logged_in">
  		<li class="user_account"></li>
  		<li class="last"><%= link_to "sign out", log_out_path %></li>
  	</ul>
  	<%= link_to "sign in", crossroad_user_session_path, :id => 'header_login', :class => 'afterload' %>
  	<% else -%>
  	<% if current_user -%>
  	<ul class="right" id="logged-in">
  		<li><%= link_to "#{current_user.display} Dashboard", user_path(current_user) %></li>
  		<li class="last"><%= link_to "sign out", log_out_path %></li>
  	</ul>
  	<% else -%>
  	<%= link_to "sign in", crossroad_user_session_path, :id => 'header_login' %>
  	<% end -%>
  	<% end -%>
  	<div class="cl"></div>
  </nav>
	<h1 id="logo"><%= link_to "H2O", "/" %></h1>
  <section id="search">
  <% form_tag(url_for, :method => :get, :class => "search") do -%>
  <table cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td id="spinner" valign="middle">
  		  <img src="/images/ui/ajax-loader.gif" alt="" />
      </td>
      <td valign="middle" class="field">
        <%= text_field_tag "keywords", params[:keywords], :size => 50 %>
      </td>
      <td valign="middle">
        <select id="search_all">
          <option value="all_materials">all</option>
          <% ["playlists", "collages", "cases", "text_blocks", "medias"].each do |type| -%>
          <option value="<%= type %>" <%= raw 'selected="selected"' if params[:controller] == type %>><%= type == "medias" ? "media items" : type.gsub('_', ' ') %></option>
          <% end -%>
        </select>
      </td>
      <td valign="middle">
        <a href="#" id="search_button">SEARCH</a>
      </td>
      <td id="create_nav" class="requires_logged_in" valign="middle">
        <a href="#" id="create_all">CREATE<span></span></a>
      </td>
  </table>
  <% end -%>
  <div class="popup" id="create_all_popup">
    <%#= link_to 'Start a Playlist', new_playlist_path, :class => 'new-action' %>
    <%#= link_to 'Start a Collage', collages_path %>
    <%#= link_to 'Link', '#' %>
    <div class="left">
    <%= link_to raw('<span class="icon icon-case"></span>Case'), new_case_path %>
    <%= link_to raw('<span class="icon icon-textblock"></span>Text'), new_text_block_path %>
    <%= link_to raw('<span class="icon icon-media-pdf"></span>PDF'), new_media_path, :class => "last" %> 
    </div>
    <div class="right">
    <%= link_to raw('<span class="icon icon-media-audio"></span>Audio'), new_media_path %> 
    <%= link_to raw('<span class="icon icon-media-image"></span>Image'), new_media_path %> 
    <%= link_to raw('<span class="icon icon-media-video"></span>Video'), new_media_path, :class => "last" %> 
    </div>
  </div>
  </section>
</header>
