<% if @objects -%>
<div id="header">
  <a href="#" id="right_page">R</a>
  <a href="#" id="left_page">L</a>
  <div id="h3_wrapper">
  <h3><%= pluralize @objects.total, "Result" %> <span>(Drag and drop items)</span></h3>
  </div>
</div>
<div id="nestable2">
  <ol class="dd-list">
    <% @objects.results.each_with_index do |hit, i| -%>
    <li class="listing dd-item" data-index="<%= i %>" data-type="<%= hit.class.to_s.downcase %>" data-id="<%= hit.id %>" data-drop="new_item" id="listing_<%= hit.class.to_s.downcase %>_<%= hit.id %>">
      <div class="dd-handle">
      <a class="tooltip icon icon-<%= hit.class == Media ? "media-#{hit.media_type.slug}" : hit.class.to_s.downcase %>" title="<%= hit.class == Media ? hit.media_type.label : hit.class %>"></a>
      <h4><%= hit.display_name %></h4>
      <div class="listing_barcode">
        <%= render :partial => "shared/barcode", :locals => { :object => hit } %>
      </div>
      </div>
    </li>
    <% end %>
  </ol>
</div>
<%= will_paginate @objects.hits, :previous_label => 'Prev', :next_label => 'Next' %>
<% end %>
