<% @highlighted_playlists.each do |v| -%>
<div class="playlist item">
  <%= link_to "#{v[:title]} (#{v[:playlist].karma})", playlist_url(v[:playlist]), :class => "item_link" %>
  <% if current_user -%>
  <%= link_to raw('<span class="icon icon-remix"></span>REMIX'), prepare_copy_playlist_path(v[:playlist]), :class => "remix-action" %>
  <% end -%>
  <%= link_to v[:user].attribution || v[:user].login, user_path(v[:user]), :class => "author" %>
  <%= render :partial => "shared/barcode", :locals => { :object => v[:playlist] } %>
  <div class="additional_details">
    <%= render :partial => "shared/breakdown_barcode", :locals => { :breakdown_data => v[:playlist].barcode_breakdown, :model => Playlist } %>
  </div>
</div>
<% end -%>
